*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.right{
    width: 85vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5vmin;
    border: 0.5vmin white solid;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0,0,0,0.19) inset;
}
#contact,#pass,#btn{
    width: 40vmin;
    height: 6vmin;
    margin: 1vmin;
    border-radius: 1vmin;
    border: 0.2vmin solid grey;
    text-align: center;
    background-color: rgb(240, 247, 255);
    font-size: 1.75vmin;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#contact:focus,#pass:focus{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 200ms;
}
input:focus{
    outline: 0.2vmin rgb(44, 135, 255) solid;
    border: none;
}
#log{
    padding-top: 2vmin;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5vmin;
    color: rgb(0, 115, 255);
}
body{
    height: 100vmin;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/Office_Building.jpg);
    backdrop-filter: brightness(45%);
    background-position: center;
    background-size: cover;
}
#btn{
    color: white;
    font-weight:600;
    font-size: 1.85vmin;
    background-color: rgb(0, 102, 255);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
#btn:active{
    background-color: rgb(0, 72, 255);
}
#res_msg,#cont_warn,#pass_warn{
    color: red;
    visibility: hidden;
}
#logo{
    width: 10vmin;
    height: 10vmin;
    border-radius: 50vmin;
}
@media only screen and (max-width:650px){
    body{
        height:100lvh;
        background-size:cover;
    }
}